openai==0.28
langchain==0.1.10
anthropic==0.17.0
gradio==4.19.2
coloredlogs
ujson
tiktoken
tqdm
inflect==7.0.0
vertexai
torch
pygments
matplotlib
transformers==4.38.2
trueskill
seaborn
langchain-google-genai
pillow
langchain-mistralai==0.0.5
